/*html {font-family: 'Fredericka the Great', cursive,'Lucida Grande',
'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
Meiryo, メイリオ, sans-serif}
*/


/*  リセットCSS*/
a{text-decoration: none;
    color:black;}


html{
  width: 100%;
  min-height: 100%; /* 多分必要 */
  position: relative; /* footerを下部に固定させるため */
}
body{
  width:100%;
  margin-bottom: 5em; /* footer表示用 */
}






.top{
padding: 15px;
font-size: 2em;
background-color: #f0f0f0;
text-align: left;font-family:'Fredericka the Great', cursive,'Lucida Grande';
color: darkgray;
}
.top-bottom{background-color: #e8e8e8; height:0.2em; margin-bottom: 20px;}


/* ul liを、横並びにする */
.top ul li{
  display: -moz-inline-box; /*for Firefox 2*/
  display: inline-block; /*for modern*/
  width: 30%;
  color:darkgray;
}

.top ul li a{
  display: block;
  color:darkgray;
  text-align: center;
}
.top ul li a span{
  font-size: 1.1em;
}

.top ul li img{
  display: inline-block;
width: 30px;
}


/*.news{*/
  /*width: 100%;*/
/*}*/
/*.news img{*/
  /*width: 100%;*/
/*}*/

.slider{
  width:50%;
  min-width:500px;
  margin:40px auto;
}

.slider img{
  width:100%;
  margin:0 auto;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}






/*########################################
            アイテム一覧表示。
####################################*/

/* アイテム一覧 */
.item-list-ul ul{
  width: 100%;
  letter-spacing: -.4em;
  margin-bottom: 80px;  /* メニュー表示後、空白を追加。footerと重なるため。 */
 }
.item-list-ul ul li{width: 33.333%; margin-bottom:1em;}
.item-name{width: 100%}

/* ul liを、横並びにする */
.item-list-ul ul li{
  display: inline-block; /*for modern*/
  letter-spacing: normal;
}


.item-list-ul ul li a{display: block;}

/*画像自体*/
.item-img{width: 100%;  /*画像中央ぞろえ*/ text-align:center;}
.item-img img,.about-item-img img{
  width: 300px;
  max-width: 85%;

/*角丸に。*/
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
}

/*アイテムネーム*/
.item-name{text-align: center}
/*アイテム価格*/
.item-price{text-align: center}


/*########################################
アイテム詳細ページ。    .about-item-
####################################*/

/*  全体画面幅*/
.contents{width: 70%; margin-left: 15%}

/*  アイテム詳細情報*/
.about-item,ul,li{width: 100%; margin-bottom: 8em;}
.about-item-img{width: 100%; text-align:center}
.about-item-img img{
  width: 400px;
  max-width: 100%;
}

/*  アイテムの名前 ボーダーとメイン文字*/
.about-item-name h2{
text-align: center;
/*ボーダー*/
border-bottom: 5px #f0f0f0 solid;
border-radius: 9%;
padding-bottom: 5px;
/*文字カラー、文字サイズ*/
color:#c0c0c0;  /*  文字カラー*/
font-size:2.5em;
/*タイトルの下に空白を入れる。#*/
margin-bottom: 1em;
}

/*    アイテムの名前、英語用*/
.about-item-name h2 span{
font-family: 'Noto Sans Japanese', sans-serif;
font-size: 100%;
margin-left:20px;
font-size:60%;
color: #ccc;
position: relative;
top: -5px;
}

/*商品価格や商品説明*/

/*アイテムの名前、説明を、左よせ、みぎよせ*/
.about-item-left{width: 33.3333%;display: inline-block; text-align: center}
.about-item-right{width: 62.6666%; display: inline-block; text-align: center}

.about-item-desc .about-item-left {
  vertical-align: super;
}

/*商品価格・説明共有*/
.about-item-contents{font-size:1.5em; color:#d0d0d0;font-family: 'Noto Sans Japanese', sans-serif;
            margin-top:2em}
/*商品特徴*/
.about-item-desc{}



  /*########################################
      Cart カート
  ####################################*/
/*カートから　またはカート内商品一覧*/
.cart-message{
  margin-bottom: 30px;
}
.cart-message table{
  width: 100%;
  border-collapse: separate;
  border-spacing: 2;
  margin-top:30px;
}
.cart-message table th{
  text-align: center;
}
.cart-message table tr th{
    margin-bottom: 5px;
}
.cart-message table tr td{
  text-align: center;
}


.cart-item-img{  text-align:center; margin-bottom: 5px;}
.cart-item-img img{
  width: 150px;
  /*角丸に。*/
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.cart-one-delete{   /*  削除ボタン  */
  text-align: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color: coral;
}
.cart-one-delete>a{
  display: block;
  color:white;
}

.cart-button{
  width: 100%;
  text-align: center;
  /*  background-color: whitesmoke; */
  padding:3px;
}
.cart-go,.cart-back{
  width: 30%;
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  /* margin-bottom: 20px; */
  background-color: whitesmoke;
  padding: 3px;
  border-color: darkgray;
  border-style: dotted;
}
.cart-back a, .cart-go a {  /*  クリック範囲を広げる  */
  display: block;
}

.cart-total{  /*  合計金額  */

}
.cart-none{ /*  カートが空の場合のメッセージ*/
  height:150px;
  text-align: center;
}




  /*########################################
      footer
  ####################################*/
  .footer p{
    color:dimgray;
    letter-spacing: 0.4;
  }
.footer{
  height:5em;
  width: 100%;
  background-color: whitesmoke;
  position: absolute;
  /*  positionをabsoluteにすると、要素がかぶる。　これを外して、margin-top:20pxくらいするとよい。*/
  bottom: 0;
  /* margin-top: 50px; */
  /*  下記で上下左右中央揃え */
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
  align-items: center; /* 縦方向中央揃え */
  -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
  justify-content: center; /* 横方向中央揃え */
}




@media screen and (max-width:600px){
  .item-list-ul ul li {
    display: block;
    width: 100%;
  }
  body{
    font-size: 0.7em;
  }
  .slider{
    width:100%;
    min-width:150px;
    margin-top:0;
  }
  .slider img{
    border-radius:0;
  }

}









          .
